@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: @apply bg-secondary;
  --background-start-rgb: @apply bg-primary;
  --background-end-rgb: @apply bg-primary;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body:before {
  top: 0;
  z-index: 900;
}

body:before,
body:after {
  content: "";
  position: fixed;
  @apply bg-border;
  left: 0;
  right: 0;
  height: 25px;
}

body:after {
  bottom: 0;
  @apply bg-border;
}

body {
  @apply text-accent;
  @apply bg-primary;
  border-left: 25px solid;
  border-right: 25px solid;
  @apply border-border;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  font-size: 1.875rem /* 30px */;
  line-height: 2.25rem /* 36px */;
  text-align: center;
  padding: 1rem;
  font-weight: 900;
  text-transform: uppercase;
}
p {
  font-size: 1.25rem /* 30px */;
  line-height: 2rem /* 36px */;
  padding-top: 1.25rem;
}

.stripes {
  background-size: 10px 10px;
  background: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 5px,
    theme(colors.trimary) 5px,
    theme(colors.trimary) 6px
  );
  height: 600%;
}
